@import 'src/assets/sass/abstracts/vars';
@import 'src/assets/sass/abstracts/mixins';

.promo {
  margin-top: 15px;
  background: white;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;

  .promo-text{
    width: 50%;
  }

  &.no-image{
    .promo-text{
      width: 100%;
    }
  }

  > .component-content {
    display: flex;
    position: relative;

    @include clearfix;

    > div {
      padding: 5px;
    }
  }

  .zg-height-fix {
    .field-promoicon {
      margin-top: 100px;
    }
  }

  .field-promoicon {
    overflow: hidden;
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .field-promolink {
    margin-top: 5px;
    padding-bottom: 10px;
    border: black 1px solid;
    width: fit-content;
    padding: 15px;
    margin-top: 15px;
    float: right;
    a{
      text-decoration: none;
      font-weight: 600;
    }
  }

  &.image-full-size {
    img {
      margin-bottom: 10px;
    }
  }

  @import 'src/assets/sass/variants/promo';
  @import 'src/assets/sass/base/richtext/richtext';
}
