.position-left,
.position-left * {
    text-align: left!important;
}

.position-right,
.position-right * {
    text-align: right;
}

.position-center,
.position-center * {
    text-align: center;
}

.position-left select {
    direction: ltr;
}

.position-right select {
    direction: rtl;
}

.position-center select {
    text-align-last: center;
}