.four-column-cta {
  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  a {
    text-decoration: none;

    &:hover {
      color: unset;

      img {
        transform: scale(1.1);
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--roundness) var(--roundness) 0 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .row {
    @include respond-to(mobile-large) {
      gap: 3em;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: left;
    border-radius: var(--roundness);
    overflow: hidden;
    box-shadow: 0 10px 30px 0 #2f2E2E4D;
    &:hover{
      background-color: #8b124c;
      color: white;
    }
  }

  .text-wrapper {
    width: 100%;
    flex-grow: 1;
    //background-color: var(--bg-main);
    padding: 1em;
    border-radius: 0 0 var(--roundness) var(--roundness);
  }

  &.bordered {
    .text-wrapper {
      background-color: $bg-transparent;
      border: 5px solid var(--border-color);
      border-top: none;
    }
  }
}

.container-color-background{
  color: white;
  h2{
    color: white!important;
  }
}

.overlay-top{
  top: -190px;
  .text-wrapper{
    background:white;
  }
}