@import 'src/assets/sass/abstracts/vars';

.image {
  &.position-left{
    padding:0!important;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    max-width: 100%;
  }

  .image-caption {
    display: block;
    font-style: italic;
    font-size: $font-small;
    color: $image-caption-color;
  }
}
